NEXT_PUBLIC_API_BASE_URL=http://localhost:8787
NEXT_PUBLIC_API_MOCKING=enabled
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_ALLOW_INDEXING=false
NEXT_PUBLIC_APP_ENV=nonprod

APP_NAME=MeetJS MSW Demo
APP_ENV=nonprod
APP_VERSION=1.0.0
SERVER_HOST=0.0.0.0
SERVER_PORT=8787
SERVER_CORS_ORIGIN=http://localhost:3000
SERVER_SWAGGER_ENABLED=true
